Repository nova-iris/terraform-azure-modules, changes with the owners that .github/CODEOWNERS names for each.
All owners: @terraform-maintainers, @devops-team, @docs-team, @network-team, @compute-team, @storage-team, @security-team

.github/CODEOWNERS:

# Global owners - these users will be requested for review when
# any file in the repository is modified
* @terraform-maintainers

# GitHub workflows and CI/CD
/.github/ @devops-team @terraform-maintainers

# Documentation
README.md @docs-team @terraform-maintainers
**/README.md @docs-team @terraform-maintainers

# Module-specific owners
/azure-firewall/ @network-team @terraform-maintainers
/azure-load-balancer/ @network-team @terraform-maintainers
/azure-private-dns/ @network-team @terraform-maintainers

/azure-vm/ @compute-team @terraform-maintainers

/azure-storage/ @storage-team @terraform-maintainers

/azure-vnet/ @network-team @terraform-maintainers
/azure-vwan/ @network-team @terraform-maintainers
/azure-vwan-dns/ @network-team @terraform-maintainers
/azure-vwan-hub/ @network-team @terraform-maintainers

# Security and compliance files
.tflint.hcl @security-team @terraform-maintainers
.github/dependabot.yml @security-team @devops-team

# Version and provider files
**/versions.tf @terraform-maintainers

# Examples - require both module owners and docs team
**/examples/ @docs-team @terraform-maintainers

fix: resolve GitHub Actions workflow references for manual release outputs
  .github/workflows/release.yml
Owners: @devops-team, @terraform-maintainers

fix: update semantic-release action to v5 and fix npm installation issues
  .github/workflows/release.yml
  .releaserc.json
Owners: @devops-team, @terraform-maintainers

fix: replace variable module sources with literal paths in azure-vwan-dns
  .releaserc.json
  azure-vwan-dns/main.tf
  azure-vwan-dns/variables.tf
Owners: @terraform-maintainers, @network-team

fix: simplify azure-vwan-dns module to resolve validation issues
  azure-vwan-dns/data.tf
  azure-vwan-dns/locals.tf
  azure-vwan-dns/main.tf
  azure-vwan-dns/outputs.tf
  azure-vwan-dns/variables.tf
Owners: @network-team, @terraform-maintainers

fix: update azure-vwan-dns examples to work with simplified module
  azure-vwan-dns/examples/advanced/main.tf
  azure-vwan-dns/examples/basic/main.tf
Owners: @docs-team, @terraform-maintainers

fix: resolve azure-private-dns module validation issues
  azure-private-dns/main.tf
  azure-private-dns/outputs.tf
  azure-private-dns/variables.tf
Owners: @network-team, @terraform-maintainers

Add examples directory for azure-private-dns module
  azure-private-dns/examples/advanced/main.tf
  azure-private-dns/examples/advanced/outputs.tf
  azure-private-dns/examples/basic/main.tf
  azure-private-dns/examples/basic/outputs.tf
Owners: @docs-team, @terraform-maintainers

Fix example outputs to match actual module outputs
  azure-private-dns/examples/advanced/main.tf
  azure-private-dns/examples/advanced/outputs.tf
  azure-private-dns/examples/basic/main.tf
  azure-private-dns/examples/basic/outputs.tf
Owners: @docs-team, @terraform-maintainers

fix: update azure-vnet examples to use consistent AzureRM provider constraints
  azure-vnet/examples/advanced/main.tf
  azure-vnet/examples/basic/main.tf
  azure-vnet/examples/hub-spoke/main.tf
Owners: @docs-team, @terraform-maintainers

fix: correct resource group references in azure-vnet hub-spoke example
  azure-vnet/examples/hub-spoke/main.tf
Owners: @docs-team, @terraform-maintainers

fix: Update azure-vnet examples provider constraints and resource references
  azure-vnet/examples/advanced/main.tf
  azure-vnet/examples/basic/main.tf
  azure-vnet/examples/hub-spoke/main.tf
Owners: @docs-team, @terraform-maintainers

fix: configure terraform-docs for documentation generation
  .github/workflows/release.yml
  .terraform-docs.yml
  azure-firewall/README.md
  azure-load-balancer/README.md
  azure-private-dns/README.md
  azure-storage/README.md
  azure-vm/README.md
  azure-vnet/README.md
  azure-vwan-dns/README.md
  azure-vwan/README.md
Owners: @devops-team, @terraform-maintainers, @network-team, @storage-team, @compute-team

docs: update module documentation [skip ci]
  README.md
Owners: @docs-team, @terraform-maintainers

Notes added by 'git notes add'
  e6c55fe785a40a8f15beb68e377137d14da94b85
Owners: @terraform-maintainers

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Owners: @terraform-maintainers
